/* You can add global styles to this file, and also import other style files */

// @import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/ng-zorro-antd.css";
// @import "~ng-zorro-antd/ng-zorro-antd.dark.css";
// @import "~ng-zorro-antd/ng-zorro-antd.compact.css";
@import "~ng-zorro-antd/ng-zorro-antd.aliyun.css";
@import "theme.scss";
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}